


.viajes{
    width: 100%;
    min-height: 100dvh;
    position: relative;
}
.viajes-imagen{

    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius-img);
    padding: 0.3rem;
    opacity: 0.9;
    filter: brightness(0.8);

}


.viajes-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.viajes-intro-buttons{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
}

.viajes-nombre{
    color: var(--background);
    font-size: 15vw;
}



.viajes-cards{

    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}



.viajes-anteriores{

    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.viajes-galeria{
    width: 100%;
    display: flex;
    justify-content: center;
}