


.card{

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 200px;
    border: 2px solid var(--background);
    padding: 0.3rem;
    border-radius: 4px;
    transition: border 0.4s ease, padding 0.1s ease;

}


.card:active{
    border: 2px solid var(--primary);
    padding: 0.6rem;
}

.card-img-container{
    width: 100%;
    height: 130px;
    border-radius: 4px;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}


.card-info{
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: palegoldenrod; */
    height: auto;
}