.card {

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 200px;
    border: 2px solid var(--background);
    padding: 0.3rem;
    border-radius: 4px;
    transition: border 0.4s ease, padding 0.1s ease;

}


.card:active {
    border: 2px solid var(--primary);
    padding: 0.6rem;
}

.card-img-container {
    width: 100%;
    height: 130px;
    border-radius: 4px;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.card-info {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: palegoldenrod; */
    height: auto;
}




/* Card inicio */

.card-inicio {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border);
    border-radius: 4px;
}

.card-text {
    width: 70%;
}





@media (max-width: 600px) {
   

   

   

 .btn-icon-only {
    font-size: 0.9rem;
 }
   


    
    

    .btn-icon-only .btn-icon {
        /* recupera tamaño del icono */
    }






}




@media (min-width: 600px) {

    .card-inicio {
        display: flex;
        flex-direction: column;
       
        height: 250px;
        gap: 1rem;
        width: 300px;
        border: var(--border);
        border-radius: 4px;
        padding: 0.6rem;

    }

    .card-text {
        font-size: 2rem;
        line-height: 1.3;
        width: 100%;
    }

    /* botón alineado a la derecha */
    .card-inicio .btn-icon-only {
        align-self: flex-end;
        font-size: inherit;
        border: none;
    }

    .card-inicio .btn-icon-only .btn-icon {
        font-size: inherit;
    }
}