



.inicio-imagen{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0.3rem;
    border-radius: var(--radius-img) ;
    opacity: 0.8;
    filter: brightness(0.9);
}


.section-inicio{
    width: 100%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}


.titulo-section{
    font-size: 3rem;
}

.cards-galeria{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
}


.section-final{
    width: 100%;
    padding: 1rem;
}


.section-content{
    display: flex;
    justify-content: space-between;
    align-items:center;
}


.titulo-final{
    font-size: 3rem;
}




@media (min-width:600px) {

    .cards-galeria{
        display: flex;
        flex-direction: row;
        gap: 0rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .titulo-section, .titulo-final{
        font-size: 5rem;
    }



    .section-content{
        display: flex;
        justify-content: space-around;
    }
    

   
}